/*input {
  display: flex;
  background: white;
  border: 2px solid grey;
  border-radius: 3.5px 3.5px;
  box-shadow: 1.5px 1px rgb(185, 181, 181), -0.2em 0 0.4em rgb(92, 88, 88);
  font-size: 1rem;
  height: 30px;
  width: 100%;
}

input:focus {
  box-shadow: 1.5px 1px grey, -0.2em 0 0.4em black;
  outline-color: blue;
}*/
